        <!-- Footer -->
            <footer class="text-center text-md-start text-white">
                <div
                    class="d-flex justify-content-center justify-content-lg-between p-3"
                    id="footer"
                >
                    <div class="me-5 d-none d-lg-block">
                        <span
                            >Here to make organization and attendace easy for
                            those who love LAN gaming events in the Charlotte,
                            NC area!</span
                        >
                    </div>

                    <!-- Social Media Links & Icons-->
                    <div>
                        <a href="/contact" class="me-4 text-reset">
                            Contact
                        </a>
                        <a href="/about" class="me-4 text-reset">
                           About
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
