<%- include('./partials/header.ejs') %>
<div
	id="main"
	class="container-fluid d-flex align-items-center justify-content-center"
>
	<div>
		<h1 class="text-white">About Us</h1>
		<p class="text-white">
			We are committed to assist with the planning and attendance of
			different gaming LAN parties. Just add your game, location, and
			time, and wait for the gamers to roll in!
		</p>
		<p class="text-white">
			Some of the events have PCs or consoles ready-to-go for drop in
			usage, others might require that you bring your own system.
		</p>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
