<%- include('./partials/header.ejs') %>
<div
	id="main"
	class="container-fluid d-flex align-items-center justify-content-center"
>
	<div>
		<h1 class="text-white">Contact Us</h1>
		<p class="text-white">
			If you have inquiries about our site or other concerns shoot us an
			email or call us!
		</p>
		<p class="text-white">clalley@uncc.edu</p>
		<p class="text-white">(704) fak-enum</p>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
