<!-- Main Section -->
<%- include('./partials/header.ejs') %>
<div
	id="main"
	class="container-fluid d-flex align-items-center justify-content-center"
>
	<div>
		<%- include('./partials/alert.ejs') %>
		<h1 class="text-white">Charlotte LAN</h1>
		<p class="text-white">
			We are committed to assist with the planning and attendance of
			different gaming LAN parties. Just add your game, location, and
			time, and wait for the gamers to roll in!
		</p>
		<p class="text-white">
			Check out the Events page to see all of the currently planned events
			or go to the New Event page to register your event! Be sure to
			include what kinds of devices are welcome (consoles, computer, etc.)
		</p>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
